extends ../layout

block title
  | #{ __("Admin.Panel.Name") }

block content
  div
    #accordion.panel-group(role='tablist', aria-multiselectable='true')
    .panel.panel-default
      #headingOne.panel-heading(role='tab')
        h4.panel-title
          a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseUsers', aria-expanded='false', aria-controls='collapseUsers')
            | #{ __("Admin.Users") }
      #collapseUsers.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
        .panel-body(ng-controller='UserController as uc')
          include ../includes/admin/userList.jade      
    .panel.panel-default
      #headingTwo.panel-heading(role='tab')
        h4.panel-title
          a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseLocals', aria-expanded='false', aria-controls='collapseLocals')
            | #{ __("Admin.Locals") }
      #collapseLocals.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
        .panel-body(ng-controller='LocalController as lc')
          include ../includes/admin/localList.jade      
    .panel.panel-default
      #headingThree.panel-heading(role='tab')
        h4.panel-title
          a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseBussinesses', aria-expanded='false', aria-controls='collapseBussinesses')
            | #{ __("Admin.Business") }
      #collapseBussinesses.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
        .panel-body(ng-controller='BusinessController as bc')
          include ../includes/admin/businessList.jade
