doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title
      block title

    // STYLES
    // STYLES END

  body
    block content

    // SCRIPTS
    // SCRIPTS END
