extends ../layout

block title
  | #{ __("User.SignInView.Title") }

block navbar-content
  .navbar-form.navbar-right.btn-group
    a.btn.btn-warning(href="/signup")
      | #{ __("UserAction.SignUp") }

block content
  .container
    .row
      .col-xs-12
        .jumbotron
          .container
            .row
              .col-xs-12.col-md-7
                h2.text-info
                  | #{ __("AppBrand.Title") }
                p
                  | #{ __("AppBrand.Description") }
              .col-xs-12.col-md-5
                .panel.panel-default
                  .panel-body(ng-controller="AuthController")
                    include ../includes/user/signin-form.jade
