div(ng-repeat='local in lc.locals')
  form(name="editLocalForm", ng-submit="signIn(signInModel.user)", novalidate)
    .form-group
      label.sr-only(for='inputLocalName') 
        | #{ __("Local.Name") }
      .col-sm-10
        input#inputLocalName.form-control(type='text', value='{{local.name}}')
    .form-group
      label.sr-only(for='inputAddress') 
        | #{ __("Local.Address") }
      .col-sm-10
        input#inputAddress.form-control(type='text',value='{{local.address}}')
    // Update Button
    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-default(type='submit' ng-disabled="!signUpForm.$valid") 
        | #{ __("Admin.Update") }  
  
